%h1 Roadmap

%p This is where we will list upcoming features and things that are on our radar.
.well
	%ul
		%li 
			%strike User authentication
		%li OmniAuth perhaps? Twitter/Facebook/Linked-in authentication
		%li 
			%strike Authorized individuals able to post/remove new jobs
		%li 
			%strike Associate job postings with users ^^^
		%li Upload a PDF resume (Step 4: http://guides.railsgirls.com/app/)
		%li Apply for job with one click when user logged in a resume uploaded
		%li Add expiration dates to job postings
		%li Craigslist job post scraping
		%li 
			%strike NewRelic monitoring and analysis
		%li Mobile site (UGH!)
		%li Clean up routes
		%li Write some damn unit tests!