%h1 Roadmap

%p This is where we will list upcoming features and things that are on our radar.
.well
	%ul
		%li User authentication
		%li Authorized individuals able to post/remove new jobs
		%li Upload a PDF resume
		%li Apply for job with one click
		%li Add expiration dates to job postings
		%li Craigslist job post scraping