%h1 Roadmap

%p This is where we will list upcoming features yet to be implemented.
.well
	%ul
		%li OmniAuth perhaps? Twitter/Facebook/Linked-in authentication
		%li Upload a PDF resume (Step 4: http://guides.railsgirls.com/app/)
		%li Apply for job with one click when user logged in a resume uploaded
		%li Add expiration dates to job postings
		%li Craigslist job post scraping
		%li Mobile site (UGH!)
		%li When posting a new job, be able to auto-fill from the company list
		%li Company reviews!