%h1 Bakersfield Tech Companies

%table.table.table-striped.table-bordered
  %tr
    %th Company Name
    %th Career URL
    %th Contact Email

  - @companies.each do |company|
    %tr
      %td= company.name
      %td 
        %a{:href => company.career_url }>#{company.career_url}
      %td
        %a{:href => 'mailto:' + company.email }>#{company.email}

%br

.btn.btn-default= link_to 'New Company', new_company_path