<div class="landing_page_intro jumbotron">
<h1>Welcome to Bakersfield Tech Jobs!</h1>
	<p class="hidden lead">Hello, and welcome. This site serves to aggregate the available tech jobs in Bakersfield. Currently it is being curated in its entirety, but will be adding in the ability for employers to post new jobs; as well as for job seekers to store their resume and submit with a cover letter in a quick manner. Thank you for checking us out!</p>
	<p class="lead">Hello! We aren't quite ready for visitors just yet, please check back soon!</p>
</div>
<%= form_tag jobs_path, :class => "navbar-form hidden", method: :get do |f| %>
	<%= text_field_tag :search, params[:search], :class => "form-control" %>
	<%= submit_tag "Search", name: nil, :class => "btn btn-default" %>
<% end %>

<div id="instructions" class="">
	<p class="text-center">Employers: Post your available positions for FREE!</p>
	<p class="text-center">Job Seekers: Use our handy search feature to search available positions!</p>
</div>