<div class="landing_page_intro jumbotron">
<h1>Welcome to Bakersfield Tech Jobs!</h1>
	<p class="lead">Hello, and welcome. This site showcases available tech jobs in Bakersfield. Currently it is being curated, but will be adding in the ability for employers to post new jobs; as well as for job seekers to store their resume and submit with a cover letter in a quick manner. Thanks for visiting!</p>
</div>

<div id="instructions" class="">
	<p class="text-center"><strong>Employers</strong>: Please <a href="mailto:info@bakersfieldtechjobs.com">email</a> us to be granted job posting access.</p>
	<p class="text-center"><strong>Job Seekers</strong>: Use our handy search feature to search available positions!</p>
</div>