<div class="landing_page_intro jumbotron">
<h1>Welcome to Bakersfield Tech Jobs!</h1>
	<p class="lead">Hello! We aren't quite ready for visitors just yet, please check back soon!</p>
</div>

<div id="instructions" class="">
	<p class="text-center">Employers: Post your available positions for FREE!</p>
	<p class="text-center">Job Seekers: Use our handy search feature to search available positions!</p>
</div>