// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* String Truncation */
.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-box {
	height: 200px;
}

.control-group {
	padding: 5px 0;
}

input[value='Create Job'] {
	margin-top: 20px;
}

.list-jobs-header {
	display: inline-block;

	input#search {
		margin-left: 20px;
	}

	input {
		margin-bottom: 10px;
	}
}


.show-controls>a.btn {
	margin: 25px 10px 0 0;
}

.show-controls>a:first-child {
	margin-left: -14px;
}

/* When using the [class=""], it looks like you have to match the class definition precisely. */
.show-controls>a:last-child[class="btn btn-danger"] {
	color: white;
}

.poster {
	margin-bottom: 20px;
	p { 
		display: inline-block; 
	}
	a { 
		display: inline-block; 
		margin-left: 20px;
	}
}