// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	padding: 10px
}

body {
	padding: 20px;
	padding-top: 70px;
}

/* String Truncation */
.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-box {
	height: 200px;
}

.control-group {
	padding: 5px 0;
}

input[value='Create Job'] {
	margin-top: 20px;
}

.list-jobs-header {
	display: inline-block;

	input#search {
		margin-left: 20px;
	}

	input {
		margin-bottom: 10px;
	}
}