// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#instructions {
	padding: 0 0 20px 0;

	p {
		line-height: 75%;
	}

	p:first-child {
		padding-top: 22px;
	}
}

.landing_page_intro {
	padding: 10px 5px;
	color: grey;

	p {
		font-size: 1.5em;
		line-height: 150%;
	}
}